<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Cory Lillis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="icon" href="images/icon.png" type="image/icon">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
    <header>
<!-- Logo -->
<div class="logo-container">
    <a href="/">
        <img src="/images/logo.png" id="logo" alt="Getting Lost Logo">
    </a>
</div>
        <!-- Navigation and buttons on the right -->
        <div class="header-right">
            <button onclick="window.location.href='/map'" class="nav-button">Map</button>
            <form id="logoutForm" action="/logout" method="post">
                <button type="submit" id="logout-btn" class="nav-button">Logout</button>
            </form>
            <% if (!removeTrail) { %>
            <form action="/profile" method="get">
                <input type="hidden" name="removeTrail" value="1">
                <input type="submit" value="Remove Trail" class="nav-button">
            </form>
            <% } %>
        </div>
    </header>
    
    <div class="centered-container">
        <h1 id="profile-greeting">Welcome Back,  <%= username %>!</h1>
      <h3>My Trails</h3>
            <table>
                <thead>
                    
                </thead>
                <tbody>
                    <% for (const trail of trails) { %>
                    <tr>
                        <td>
                            <a href="map?x1=<%= trail.x1 %>&y1=<%= trail.y1 %>&x2=<%= trail.x2 %>&y2=<%= trail.y2 %>">
                                <%= (trail.name ? trail.name : `(${trail.x1},${trail.y1}),(${trail.x2},${trail.y2})`) %>
                            </a>
                        </td>
                        <% if (removeTrail) { %>
                        <td>
                            <form action="/removeTrail" method="post">
                                <input type="hidden" name="trail" value="<%= trail._id %>">
                                <input type="submit" value="Delete" id="remove">
                            </form>
                        </td>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
    </div>

    <script src="/scripts/makeEditable.js"></script>
    <script src="/scripts/pageStyle.js"></script>
</body>
</html>
